.bytops {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    .toicons {
      transform: rotate(90deg) translateX(2px);
      transition: 0.4s;
      font-size: 20px;
    }
    span {
      margin-left: 10px;
      font-size: 20px;
    }
    &:hover .toicons {
      transform: rotate(90deg) translateX(-5px);
      transition: 0.4s;
    }
  }
}
