.block {
  height: 15vh;
}

.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;

  .navpage {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.02em;
      width: 130px;
      .navtext1 {
      }
      &:hover {
        .navtext1 {
          display: none;
        }
        .navtext2 {
          display: block !important;
        }
      }
      .navtext2 {
        display: none;
      }
    }
    .menuicons {
      display: none;
    }
    .menus {
      display: flex;
      list-style: none;
      .socials {
        display: none;
      }
      li {
        margin: 0 25px;
        user-select: none;
        padding: 4px 0;
        position: relative;
        overflow: hidden;
        &.active::after {
          left: 0%;
        }
        &.active a {
          color: #007fef;
        }
        &::after {
          content: "";
          width: 100%;
          height: 1px;
          position: absolute;
          background-color: #007fef;
          bottom: 0;
          left: -100%;
          transition: 0.4s;
        }
        &:hover::after {
          left: 0%;
          transition: 0.4s;
        }
        a {
          font-size: 20px;
        }
      }
    }
  }
  .email {
    user-select: none;
    font-size: 16px;
  }
}

.container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 750px) and (min-width: 501px) {
  .navpage {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.02em;
    }
    .menuicons {
      display: block !important;
      font-size: 30px;
    }
    .menus {
      &.active {
        left: 0%;
        transition: 0.5s;
      }
      z-index: 3;
      background-color: white;
      position: absolute;
      list-style: none;
      position: fixed;
      height: 85vh;
      top: 13vh;
      width: 100vw;
      left: -100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
      .socials {
        display: flex !important;
        color: rgb(0, 0, 0);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a {
          margin: 10px 0;
          display: block;
          font-size: 20px;
        }
      }
      li {
        margin: 10px 0px !important;
        user-select: none;
        a {
          font-size: 20px;
          color: black;
        }
      }
    }
  }
}

@media (max-width: 500px) and (min-width: 301px) {
  .navbar.dark {
    color: white;
    background-color: black;
    .menuicons1 {
      color: white !important;
    }
  }
  .navpage {
    .email {
      display: none !important;
    }
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.02em;
    }
    .menuicons {
      display: block !important;
      font-size: 30px;
    }

    .menus {
      &.active {
        left: 0%;
        transition: 0.5s;
      }

      z-index: 3;
      position: absolute;
      list-style: none;
      background-color: rgb(0, 0, 0);
      position: fixed;
      height: 85vh;
      top: 13vh;
      width: 100vw;
      left: -100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: 0.5s;

      .socials {
        display: flex !important;
        color: rgb(255, 255, 255);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        // background-color: darkblue;
        a {
          margin: 10px 0;
          display: block;
          font-size: 15px;
        }
      }
      li {
        margin: 10px 0px !important;
        user-select: none;
        a {
          font-size: 20px;
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}
