.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1100px;
}

.aboutpage {
  .about {
    padding: 30px 0;
    height: 60vh;
    display: flex;
    p {
      background-color: darkblue;
    }
    .aboutleft {
      flex: 2;
      //   background-color: darkblue;
      padding: 20px 10px;
      .title {
        font-size: 25px;
        font-weight: 700;
        // color: #007fef;
      }
      p {
        width: 80%;
        font-size: 18px;
        line-height: 1.4em;
      }
    }
    .aboutright {
      flex: 1;
      position: relative;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 900px) and (min-width: 651px) {
  .about {
    padding: 30px 0;
    height: 80vh;
    .aboutleft {
      flex: 2;
      padding: 20px 10px;
      .title {
        font-weight: 600;
        color: #007fef;
        font-size: 30px;
      }
      p {
        width: 95% !important;
        font-size: 18px;
      }
    }
    .aboutright {
      flex: 1.3 !important;
    }
  }
}

@media (max-width: 650px) and (min-width: 551px) {
  .about {
    padding: 30px 0;
    height: 80vh;
    .aboutleft {
      flex: 2;
      padding: 20px 10px;
      .title {
        font-weight: 600;
        font-size: 23px !important;
      }
      p {
        width: 95% !important;
        font-size: 16px !important;
      }
    }
    .aboutright {
      flex: 1.3 !important;
    }
  }
}

@media (max-width: 550px) and (min-width: 251px) {
  .about {
    height: 130vh !important;
    flex-direction: column;
    .aboutleft {
      flex: 2;
      padding: 0px 10px !important;
      .title {
        font-weight: 600;
        font-size: 23px !important;
      }
      p {
        width: 95% !important;
        font-size: 16px !important;
      }
    }
    .aboutright {
      height: 400px !important;
      width: 100% !important;
      flex: 1.5 !important;
    }
  }
}
